# Kconfig - rfd77101_soil_swarm_node_hardware board configuration

if RFD77101_SOIL_SWARM_NODE_HARDWARE

config BOARD
	default "rfd77101_soil_swarm_node_hardware"

if ADC

config ADC_0
	default y

endif # ADC

config BT_CTLR
	default BT

endif # RFD77101_SOIL_SWARM_NODE_HARDWARE
